@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../fonts/Jakarta-extraLight/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../fonts/Jakarta-regular/PlusJakartaSans-Regular.eot');
    src: url('../fonts/Jakarta-regular/PlusJakartaSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Jakarta-regular/PlusJakartaSans-Regular.woff2') format('woff2'),
        url('../fonts/Jakarta-regular/PlusJakartaSans-Regular.woff') format('woff'),
        url('../fonts/Jakarta-regular/PlusJakartaSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../fonts/Jakarta-medium/PlusJakartaSans-Medium.eot');
    src: url('../fonts/Jakarta-regular/PlusJakartaSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Jakarta-medium/PlusJakartaSans-Medium.woff') format('woff2'),
        url('../fonts/Jakarta-medium/PlusJakartaSans-Medium.woff2') format('woff'),
        url('../fonts/Jakarta-medium/PlusJakartaSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../fonts/Jakarta-extraBold/PlusJakartaSans-ExtraBold.eot');
    src: url('../fonts/Jakarta-extraBold/PlusJakartaSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Jakarta-extraBold/PlusJakartaSans-ExtraBold.woff2') format('woff2'),
        url('../fonts/Jakarta-extraBold/PlusJakartaSans-ExtraBold.woff') format('woff'),
        url('../fonts/Jakarta-extraBold/PlusJakartaSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

