/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
  --color-primary: #000;
  --color-bgc: #ededed;
  --color-descr: #7c7c7c;
}
