/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.3s all;
}

a {
  text-decoration: none;
  color: black;
  animation: open 1s ease backwards;
}

.article {
  background-color: #fff;
  max-width: 608px;
  min-height: 570px;
  padding: 1rem 1rem 1.375rem 1rem;
  border-radius: 0.625rem;
  &:hover,
  &:focus {
    .article {
      &__preview {
        filter: brightness(1.25);
        transform: scale(1.3);
      }

      &__more {
        border-bottom: 1px solid #000;
      }
    }
  }

  &__image-box {
    height: 296px;
    overflow: hidden;
    border-radius: 0.625rem;
  }

  &__preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.7s all;
  }

  &__information {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }

  &__technical {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }

  &__avatar {
    border-radius: 50%;
    object-fit: cover;
    width: 40px;
    height: 40px;
  }

  &__initials {
    font-weight: 500;
    font-size: 0.875rem;
  }

  &__time {
    font-weight: 400;
    font-size: 0.875rem;
    color: var(--color-descr);
  }

  &__lead-text {
    margin-top: 2rem;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  &__title {
    font-weight: 500;
    font-size: 1.5rem;
  }

  &__descr {
    margin-top: 0.875rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 130%;
    color: var(--color-descr);
  }

  &__more {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    background-color: #fff;
    color: var(--color-primary);
    border: none;
    width: 104px;
    height: 21px;
    cursor: pointer;
    transition: 0.3s all;
    border-bottom: 1px solid #fff;
  }
}

/*********/
/**MEDIA**/
/*********/

@media (max-width: 992px) {
  .container {
    padding: 311px 16px;
  }
}

@media (max-width: 575px) {
  .container {
    padding: 147px 16px;
  }

  .article {
    min-height: 519px;

    &__information {
      margin-top: 1.5rem;
    }

    &__title {
      font-size: 1.125rem;
    }

    &__descr {
      font-size: 0.875rem;
    }

    &__more {
      font-size: 0.875rem;
      justify-content: flex-start;
      gap: 0.75rem;
      width: 94px;
    }
  }
}

/*************/
/**KEYFRAMES**/
/*************/

@keyframes open {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
